In [2]:
#conditionl statement

temperature=int(input("enter the value of temp : "))
if temperature>30:
    print("warm day")
    print("Drink water")
print("done")

enter the value of temp : 35
warm day
Drink water
done

In [4]:
temperature=35
if temperature>30:
    print("warm day")
    print("Drink water")
elif temperature>=25:
    print("It is nice day")
print("done")

warm day
Drink water
done

In [6]:
temperature=18
if temperature>20:
    print("have a nice day")
else:
    print("it is cold day")

it is cold day

In [8]:
age=18
message="yes am eligibe for vote" if age>=18 else "not eligible for vote"
print(message)

yes am eligibe for vote

In [17]:
high_income=True
good_cridit=False
student=True
if not student:
    print("eligible for loan")
elif student:
    print("not eligible for loan")
else:
    print("its okay")

not eligible for loan

In [21]:
high_income=True
good_cridit=False
student=True
if not good_cridit:
    print("eligible for loan")
elif student:
    print("not eligible for loan")
elif high_income:
    print("its okay")
    
print("it's not okay")

eligible for loan
it's not okay

In [22]:
high_income=True
good_cridit=False
student=True
if(high_income or good_cridit) and not student:
    print("eligible for loan")
else:
    print("not eligible for loan")

not eligible for loan

In [2]:
#Chaining comparision

age=22
if age>=18 and age<65:
    print("eligible")

eligible

In [3]:
age=22
if 18<=age<65:
    print("eligible")

eligible

In [4]:
if 10=='10':
    print("a")
elif 'bag'>'apple' and 'bag'>'cat':
    print("b")
else:
    print("c")

c

In [5]:
ord('b')

98

In [6]:
ord('a')

97

In [7]:
ord('c')

99

In [10]:
'bag'<'bags'

True

In [11]:
#For loop

for num in range(3):
    print('a', num)

a 0
a 1
a 2

In [12]:
type(num)

int

In [13]:
for num in range(3):
    print('a',num+1)

a 1
a 2
a 3

In [14]:
for num in range(3):
    print('a',num+1,(num+1)*'.')

a 1 .
a 2 ..
a 3 ...

In [15]:
for num in range(1,4):
    print('a',num,num*'.')

a 1 .
a 2 ..
a 3 ...

In [16]:
#2 step skip
for num in range(1,10,2):
    print('a',num,num*'.')

a 1 .
a 3 ...
a 5 .....
a 7 .......
a 9 .........

In [20]:
for num in range(1,10,2):
    print('a',num,num*'.')
for num in range(11,18,3):
        print('a',num,num*'.')

a 1 .
a 3 ...
a 5 .....
a 7 .......
a 9 .........
a 11 ...........
a 14 ..............
a 17 .................

In [26]:
#For else

successful=True
for num in range(3):
    print('attempt')
    if successful:
        print("Successful")

attempt
Successful
attempt
Successful
attempt
Successful

In [24]:
successful=True
for num in range(3):
    print('attempt')
    if successful:
        print("Successful")
        break

attempt
Successful

In [27]:
successful=False
for num in range(3):
    print('attempt')
    if successful:
        print("Successful")

attempt
attempt
attempt

In [28]:
successful=False
for num in range(3):
    print('attempt')
    if successful:
        print("Successful")
        break

attempt
attempt
attempt

In [29]:
#For if-else

successful=False
for num in range(3):
    print('attempt')
    if successful:
        print("Successful")
        break
else:
    print("ttempt 3 times and fail")

attempt
attempt
attempt
ttempt 3 times and fail

In [31]:
successful=True
for num in range(3):
    print('attempt')
    if successful:
        print("Successful")
        break
else:
    print("ttempt 3 times and fail")

attempt
Successful

In [34]:
#Nested loop

for x in range(3):
    for y in range(3):
        print(f"{x},{y}")

0,0
0,1
0,2
1,0
1,1
1,2
2,0
2,1
2,2

In [35]:
#Iterable

for x in 'python':
    print(x)

p
y
t
h
o
n

In [36]:
for x in [1,2,3,4,5,6,7,8,9,]:
    print(x)

1
2
3
4
5
6
7
8
9

In [37]:
for x in range(10):
    print(x)

0
1
2
3
4
5
6
7
8
9

In [39]:
#While loop

num=100
while num>0:
    print(num)
    num //=2

100
50
25
12
6
3
1

In [41]:
i=0
while i<6:
    i +=1
    if i==3:
        continue
    print(i)

1
2
4
5
6

In [42]:
i=0
while i<7:
    i +=1
    if i==3:
        continue
    print(i)

1
2
4
5
6
7

In [45]:
i=1
while i<6:
    print(i)
    i +=1
else:    
    print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6